h1 {
  text-transform: uppercase; }

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%; }
  #header .navbar {
    margin-bottom: 0;
    border-radius: 0; }

.post {
  font-size: 1.6rem;
  line-height: 1.6em; }
  .post .header-img {
    position: fixed;
    top: 0;
    max-height: 600px;
    overflow: hidden; }
  .post .content {
    background: white;
    position: relative;
    z-index: 1;
    margin-top: 460px;
    padding-bottom: 40px; }
    .post .content header {
      margin-bottom: 1.7em; }
    .post .content p {
      margin-bottom: 1.7em; }
    .post .content blockquote p {
      font-size: 1.4em; }

#comments {
  position: relative;
  background: transparent; }
  #comments #new-comment-region {
    background: white; }
    #comments #new-comment-region .new-form {
      margin-bottom: 5em; }
      #comments #new-comment-region .new-form .new-comment {
        width: 100%; }
        #comments #new-comment-region .new-form .new-comment textarea {
          resize: none;
          outline: none;
          overflow: auto;
          border-radius: 0; }
      #comments #new-comment-region .new-form .submit {
        width: 100%;
        border-radius: 0; }
  #comments .comments-region {
    background: white;
    padding-top: 0.1em;
    padding-bottom: 20em; }
    #comments .comments-region .comments-container {
      width: 100%;
      font-size: 3rem; }
      #comments .comments-region .comments-container .comment {
        position: relative;
        font-size: 4em;
        width: 1em;
        height: 1em;
        padding: 10px;
        background: #ede8df;
        color: #232323;
        border: 1px solid white;
        overflow: hidden;
        text-overflow: ellipsis; }
      #comments .comments-region .comments-container .comment.small {
        font-size: 4em; }
        #comments .comments-region .comments-container .comment.small .band {
          border-top: 6px solid grey; }
        #comments .comments-region .comments-container .comment.small .content {
          font-size: 0.08em; }
        #comments .comments-region .comments-container .comment.small .comment-count a.vote:hover {
          color: #232323; }
        #comments .comments-region .comments-container .comment.small .content.action .plus, #comments .comments-region .comments-container .comment.small .content.action .minus {
          color: grey; }
      #comments .comments-region .comments-container .comment.medium {
        font-size: 6em; }
        #comments .comments-region .comments-container .comment.medium .band {
          border-top: 6px solid #6aceeb; }
        #comments .comments-region .comments-container .comment.medium .content {
          font-size: 0.08em; }
        #comments .comments-region .comments-container .comment.medium .comment .comment-count p {
          color: #6aceeb; }
        #comments .comments-region .comments-container .comment.medium .content.action .plus, #comments .comments-region .comments-container .comment.medium .content.action .minus {
          color: #6aceeb; }
      #comments .comments-region .comments-container .comment.large {
        font-size: 8em; }
        #comments .comments-region .comments-container .comment.large .band {
          border-top: 6px solid #30394f; }
        #comments .comments-region .comments-container .comment.large .content {
          font-size: 0.09em; }
        #comments .comments-region .comments-container .comment.large .comment .comment-count p {
          color: #30394f; }
        #comments .comments-region .comments-container .comment.large .content.action .plus, #comments .comments-region .comments-container .comment.large .content.action .minus {
          color: #30394f; }
      #comments .comments-region .comments-container .comment.big {
        font-size: 10em; }
        #comments .comments-region .comments-container .comment.big .band {
          border-top: 6px solid #ff434c; }
        #comments .comments-region .comments-container .comment.big .content {
          font-size: 0.0625em; }
        #comments .comments-region .comments-container .comment.big .comment .comment-count p {
          color: #ff434c; }
        #comments .comments-region .comments-container .comment.big .content.action .plus, #comments .comments-region .comments-container .comment.big .content.action .minus {
          color: #ff434c; }
      #comments .comments-region .comments-container .comment .content {
        font-size: 0.125em; }
      #comments .comments-region .comments-container .comment .comment-text {
        height: 10em; }
        #comments .comments-region .comments-container .comment .comment-text p {
          overflow: hidden;
          text-overflow: ellipsis; }
      #comments .comments-region .comments-container .comment .action {
        cursor: pointer; }
        #comments .comments-region .comments-container .comment .action .minus {
          position: absolute;
          top: 15px;
          right: 10px;
          display: none; }
        #comments .comments-region .comments-container .comment .action .plus {
          position: absolute;
          bottom: 10px;
          right: 10px; }
      #comments .comments-region .comments-container .comment .tooltip {
        width: 100px;
        z-index: 9999; }
      #comments .comments-region .comments-container .comment .comment-count {
        position: absolute;
        bottom: 10px; }
        #comments .comments-region .comments-container .comment .comment-count .wrapper {
          float: left;
          margin-right: 10px; }
          #comments .comments-region .comments-container .comment .comment-count .wrapper p {
            font-size: 0.8em;
            float: left;
            margin: 0 4px 0 0; }
          #comments .comments-region .comments-container .comment .comment-count .wrapper a {
            float: left;
            color: grey;
            font-size: 0.8em; }
            #comments .comments-region .comments-container .comment .comment-count .wrapper a:hover {
              color: #232323; }
      #comments .comments-region .comments-container .comment.animate {
        -webkit-animation: up-vote 1s ease-out;
        -moz-animation: up-vote 1s ease-out;
        -o-animation: up-vote 1s ease-out;
        animation: up-vote 1s ease-out; }
      #comments .comments-region .comments-container .comment.expanded {
        font-size: 2rem;
        width: 100%;
        height: 500px; }
        #comments .comments-region .comments-container .comment.expanded .content {
          height: auto;
          font-size: 1em; }
        #comments .comments-region .comments-container .comment.expanded .wrapper a.people {
          pointer-events: none;
          color: white; }
        #comments .comments-region .comments-container .comment.expanded .action .minus {
          display: inline-block; }
        #comments .comments-region .comments-container .comment.expanded .action .plus {
          display: none; }
      #comments .comments-region .comments-container .stats-region {
        position: absolute;
        top: 0;
        left: 0;
        background: grey;
        opacity: 0.9;
        height: 0.8em;
        overflow: hidden; }
        #comments .comments-region .comments-container .stats-region path {
          stroke: steelblue;
          stroke-width: 1;
          fill: none; }
        #comments .comments-region .comments-container .stats-region .axis {
          shape-rendering: crispEdges; }
        #comments .comments-region .comments-container .stats-region .x.axis line {
          stroke: lightgrey; }
        #comments .comments-region .comments-container .stats-region .x.axis .minor {
          stroke-opacity: 0.5; }
        #comments .comments-region .comments-container .stats-region .x.axis path {
          display: none; }
        #comments .comments-region .comments-container .stats-region .y.axis line, #comments .comments-region .comments-container .stats-region .y.axis path {
          fill: none;
          stroke: black; }
      #comments .comments-region .comments-container .chatroom-region .messages-container {
        font-size: 1rem;
        overflow-y: auto;
        padding: 20px;
        color: #232323;
        background: white;
        border: 1px solid grey; }
        #comments .comments-region .comments-container .chatroom-region .messages-container .messages {
          overflow-y: auto;
          height: 23em;
          background: white;
          color: #232323; }
          #comments .comments-region .comments-container .chatroom-region .messages-container .messages .message {
            font-size: 1.5em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding: 10px;
            margin-bottom: 10px; }
            #comments .comments-region .comments-container .chatroom-region .messages-container .messages .message .message-user {
              font-weight: 500; }
        #comments .comments-region .comments-container .chatroom-region .messages-container .new-message .new-form {
          overflow: hidden; }
        #comments .comments-region .comments-container .chatroom-region .messages-container .new-message label.new-message {
          width: 79%;
          float: left;
          margin-right: 3px; }
          #comments .comments-region .comments-container .chatroom-region .messages-container .new-message label.new-message textarea {
            resize: none;
            outline: none;
            overflow: auto;
            border-radius: 0;
            font-size: 1.5em;
            padding: 5px 10px; }
        #comments .comments-region .comments-container .chatroom-region .messages-container .new-message .submit {
          width: 20%;
          border-radius: 0;
          height: 50px;
          margin-top: 39px; }
      #comments .comments-region .comments-container .comment.small .chatroom-region .messages-container {
        border: 1px solid grey; }
      #comments .comments-region .comments-container .comment.medium .chatroom-region .messages-container {
        border: 1px solid #6aceeb; }
      #comments .comments-region .comments-container .comment.large .chatroom-region .messages-container {
        border: 1px solid #30394f; }
      #comments .comments-region .comments-container .comment.big .chatroom-region .messages-container {
        border: 1px solid #ff434c; }

@-webkit-keyframes up-vote {
  0% {
    opacity: 0.7; }

  100% {
    opacity: 1; } }

@-moz-keyframes up-vote {
  0% {
    opacity: 0.7; }

  100% {
    opacity: 1; } }

@-o-keyframes up-vote {
  0% {
    opacity: 0.7; }

  100% {
    opacity: 1; } }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html body {
  font-size: 100%; }

#main {
  border-bottom: 1px solid #cccccc; }
