h1 {
  text-transform: uppercase; }

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%; }
  #header .navbar {
    margin-bottom: 0;
    border-radius: 0; }

.post {
  font-size: 1.6rem;
  line-height: 1.6em; }
  .post .header-img {
    position: fixed;
    top: 0;
    max-height: 400px;
    overflow: hidden; }
  .post .content {
    background: white;
    position: relative;
    z-index: 1;
    margin-top: 460px;
    padding-bottom: 40px; }
    .post .content header {
      margin-bottom: 1.7em; }
    .post .content p {
      margin-bottom: 1.7em; }
    .post .content blockquote p {
      font-size: 1.4em; }

#comments {
  position: relative;
  background: white;
  margin-bottom: 20em; }
  #comments #new-comment-region .new-form {
    margin-bottom: 10em; }
    #comments #new-comment-region .new-form .new-comment {
      width: 100%; }
      #comments #new-comment-region .new-form .new-comment textarea {
        resize: none;
        outline: none;
        overflow: auto;
        border-radius: 0; }
    #comments #new-comment-region .new-form .submit {
      width: 100%;
      border-radius: 0; }
  #comments .comments-container {
    width: 100%;
    font-size: 3rem; }
    #comments .comments-container .comment {
      position: relative;
      font-size: 4em;
      width: 1em;
      height: 1em;
      padding: 10px;
      background: #ede8df;
      border-top: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white; }
    #comments .comments-container .comment.small {
      font-size: 4em; }
      #comments .comments-container .comment.small .content {
        font-size: 0.125em; }
      #comments .comments-container .comment.small .comment-count a.vote:hover {
        color: #232323; }
    #comments .comments-container .comment.medium {
      font-size: 4em;
      background: #6aceeb; }
      #comments .comments-container .comment.medium .content {
        font-size: 0.125em; }
    #comments .comments-container .comment.large {
      font-size: 8em;
      background: #30394f;
      color: white; }
      #comments .comments-container .comment.large .content {
        font-size: 0.09em; }
    #comments .comments-container .comment.big {
      font-size: 16em;
      background: #ff434c;
      color: white; }
      #comments .comments-container .comment.big .content {
        font-size: 0.0625em; }
    #comments .comments-container .comment .content {
      font-size: 0.125em; }
    #comments .comments-container .comment .comment-count {
      position: absolute;
      bottom: 10px; }
      #comments .comments-container .comment .comment-count p {
        float: left;
        margin: 0; }
      #comments .comments-container .comment .comment-count a.vote {
        float: left;
        color: grey;
        margin: 7px 0 0 7px;
        font-size: 0.8em; }
        #comments .comments-container .comment .comment-count a.vote:hover {
          color: white; }
    #comments .comments-container .comment .action {
      cursor: pointer; }
      #comments .comments-container .comment .action .minus {
        position: absolute;
        top: 10px;
        right: 10px;
        display: none; }
      #comments .comments-container .comment .action .plus {
        position: absolute;
        bottom: 10px;
        right: 10px; }
    #comments .comments-container .comment.animate {
      -webkit-animation: up-vote 1s ease;
      -moz-animation: up-vote 1s ease;
      -o-animation: up-vote 1s ease;
      animation: up-vote 1s ease; }
    #comments .comments-container .comment.expanded {
      font-size: 2rem;
      width: 100%;
      height: 400px; }
      #comments .comments-container .comment.expanded .action .minus {
        display: inline-block; }
      #comments .comments-container .comment.expanded .action .plus {
        display: none; }
    #comments .comments-container .chatroom-container {
      overflow-y: auto;
      font-size: 1rem;
      background: white;
      color: #232323; }

@-webkit-keyframes up-vote {
  0% {
    opacity: 0.8; }

  100% {
    opacity: 1; } }

@-moz-keyframes up-vote {
  0% {
    opacity: 0.8; }

  100% {
    opacity: 1; } }

@-o-keyframes up-vote {
  0% {
    opacity: 0.8; }

  100% {
    opacity: 1; } }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html body {
  font-size: 100%; }

#main {
  border-bottom: 1px solid #cccccc; }
