h1 {
  text-transform: uppercase; }

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%; }
  #header .navbar {
    margin-bottom: 0;
    border-radius: 0; }

.post {
  font-size: 1.6rem;
  line-height: 1.6em; }
  .post .header-img {
    position: fixed;
    top: 0;
    max-height: 400px;
    overflow: hidden; }
  .post .content {
    background: white;
    position: relative;
    z-index: 1;
    margin-top: 460px;
    padding-bottom: 40px; }
    .post .content header {
      margin-bottom: 1.7em; }
    .post .content p {
      margin-bottom: 1.7em; }
    .post .content blockquote p {
      font-size: 1.4em; }

.comments {
  position: relative;
  background: white;
  margin-bottom: 20em; }
  .comments .new-form {
    margin-bottom: 10em; }
    .comments .new-form .new-comment {
      width: 100%; }
      .comments .new-form .new-comment textarea {
        resize: none;
        outline: none;
        overflow: auto;
        border-radius: 0; }
    .comments .new-form .submit {
      width: 100%;
      border-radius: 0; }

.packery-container {
  width: 100%;
  font-size: 2.5rem; }
  .packery-container .item, .packery-container .comment {
    position: relative;
    width: 1em;
    height: 1em;
    padding: 10px;
    background: #ede8df;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white; }
  .packery-container .comment.small {
    font-size: 2em; }
  .packery-container .comment.medium {
    font-size: 4em;
    background: #6aceeb; }
  .packery-container .comment.large {
    font-size: 8em;
    background: #30394f;
    color: white; }
  .packery-container .comment.big {
    font-size: 16em;
    background: #ff434c;
    color: white; }
  .packery-container .comment .content {
    font-size: 0.0625em; }
  .packery-container .comment .comment-count {
    position: absolute;
    bottom: 10px; }
    .packery-container .comment .comment-count p {
      margin: 0; }
  .packery-container .comment .comment-expand {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html body {
  font-size: 100%; }

#main {
  border-bottom: 1px solid #cccccc; }
