.comments {
  position: relative;
  background: white;

  margin-bottom: 20em;

  .new-form {
    margin-bottom: 10em;
    .new-comment {
      width: 100%;
      textarea {
        resize: none;   // remove the resize handle
        outline: none;  // remove that focus blue
        overflow: auto; // remove scroll bars on IE
        border-radius: 0;
      }
    }
    .submit {
      width: 100%;
      border-radius: 0;
    }
  }

}