@mixin animation($val) {
  -webkit-animation: $val;
     -moz-animation: $val;
       -o-animation: $val;
          animation: $val;
}

@mixin keyframes($name){
  @-webkit-keyframes #{$name}{
    @content;
  }
  @-moz-keyframes #{$name}{
    @content;
  }
  @-o-keyframes #{$name}{
    @content;
  }
}
