h1 {
  text-transform: uppercase; }

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%; }
  #header .navbar {
    margin-bottom: 0;
    border-radius: 0; }

.post {
  font-size: 1.6rem;
  line-height: 1.6em; }
  .post .header-img {
    position: fixed;
    top: 0;
    max-height: 400px;
    overflow: hidden; }
  .post .content {
    background: white;
    position: relative;
    z-index: 1;
    margin-top: 460px;
    padding-bottom: 40px; }
    .post .content header {
      margin-bottom: 1.7em; }
    .post .content p {
      margin-bottom: 1.7em; }
    .post .content blockquote p {
      font-size: 1.4em; }

.comments {
  position: relative;
  background: white;
  margin-bottom: 20em; }
  .comments .new-form {
    margin-bottom: 10em; }
    .comments .new-form .new-comment {
      width: 100%; }
      .comments .new-form .new-comment textarea {
        resize: none;
        outline: none;
        overflow: auto;
        border-radius: 0; }
    .comments .new-form .submit {
      width: 100%;
      border-radius: 0; }

.packery-container {
  width: 100%; }
  .packery-container .item, .packery-container .comment {
    position: relative;
    width: 10%;
    height: 10%;
    padding: 10px;
    background: #ede8df;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 1.5rem; }
    .packery-container .item .comment-count, .packery-container .comment .comment-count {
      position: absolute;
      bottom: 10px; }
      .packery-container .item .comment-count p, .packery-container .comment .comment-count p {
        margin: 0; }
    .packery-container .item .comment-expand, .packery-container .comment .comment-expand {
      position: absolute;
      bottom: 10px;
      right: 10px;
      cursor: pointer; }
  .packery-container .big {
    padding: 20px;
    width: 50%;
    height: 300px;
    background: #ff434c;
    color: white;
    font-size: 3em; }
  .packery-container .large {
    padding: 20px;
    width: 33.33333%;
    height: 200px;
    background: #30394f;
    color: white;
    font-size: 2em; }
  .packery-container .medium {
    width: 20%;
    height: 100px;
    background: #6aceeb;
    font-size: 1.5em; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html body {
  font-size: 100%; }

#main {
  border-bottom: 1px solid #cccccc; }
