.comments-container {
  width: 100%;
  font-size: 2.5rem;

  // when comment is in expanded state
  .comment.expanded{
    width: 100%;
    height: auto;
  }

  .comment {
    position: relative;

    width: 1em;
    height: 1em;

    padding: 10px;
    background: $off-white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  .comment.small {
    font-size: 2em;
  }
  .comment.medium {
    font-size: 4em;
    background: $light-blue;
  }
  .comment.large {
    font-size: 8em;
    background: $blue;
    color: white;
  }
  .comment.big {
    font-size: 16em;
    background: $red;
    color: white;
  }

  .comment {
    .content {
      font-size: 0.0625em;
    }
    .comment-body {

    }
    .comment-count {
      position: absolute;
      bottom: 10px;
      p {
        margin: 0;
      }
    }
    .comment-expand {
      position: absolute;
      bottom: 10px;
      right: 10px;
      cursor: pointer;
    }
  }

  @import 'chatroom';

}