#comments {
  position: relative;
  background: transparent;

  #new-comment-region{
    background: white;

    @import 'new_comment';
  }

  .comments-region{
    // background: url('/img/beautiful_nature.jpg');
    background: white;
    padding-top: 0.1em;
    padding-bottom: 20em;

    @import 'comment';
  }

}