#map-region {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #252525;
  opacity: 0.9;
  width: 100%;

  .action{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3.4em;

    a { color: white }
  }

  path {
    stroke: white;
    stroke-width: 1;
    fill: none;
  }

  .region {
    opacity: 0.6;
    cursor: pointer;
    fill: #6F6F6F;
    stroke: #464646;
    stroke-width: 0.5;
    stroke-linecap: round;

    -moz-transition: opacity 300ms ease-out, fill 300ms ease-out, stroke 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, fill 300ms ease-out, stroke 300ms ease-out;
    -o-transition: opacity 300ms ease-out, fill 300ms ease-out, stroke 300ms ease-out;
    transition: opacity 300ms ease-out, fill 300ms ease-out, stroke 300ms ease-out;

    &.hover, &.active {
      opacity: 1;
      stroke: #5F5F5F;
    }

    &.active {
      fill: #e76b28;
      stroke: #D35F20;
    }
  }


}