h1 {
  text-transform: uppercase; }

header .navbar {
  margin-bottom: 0; }

.post {
  font-size: 1.6rem;
  line-height: 1.6em; }
  .post .header-img {
    max-height: 400px;
    overflow: hidden; }
  .post header {
    margin-bottom: 1.7em; }
  .post p {
    margin-bottom: 1.7em; }
  .post blockquote p {
    font-size: 1.4em; }

.comments {
  margin-bottom: 20em; }
  .comments .new-form {
    margin-bottom: 10em; }
    .comments .new-form .new-comment {
      width: 100%; }
      .comments .new-form .new-comment textarea {
        resize: none;
        outline: none;
        overflow: auto;
        border-radius: 0; }
    .comments .new-form .submit {
      width: 100%;
      border-radius: 0; }

.packery-container {
  width: 100%; }
  .packery-container .item {
    width: 200px;
    height: 300px;
    padding: 20px;
    background: transparent;
    border: 1px solid #dddddd;
    font-size: 1.5rem; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html body {
  font-size: 100%; }
